:root{
	--main-col:"grey";
}
.sidebar {
  height: 100%;
  width: 150px;
  
  background-color: #004d40;
  float: left;
}
.sidebar a {
  display: block;
  color: black;
  padding: 20px;
  
}

.answerpanel{
	background-color: antiquewhite;
	height: 100%;
	width: 80%;

}

progress[value] {
	-webkit-appearance: none;
	appearance: none;	
  }
.wrong_bar::-webkit-progress-value { background: red; }
.correct_bar::-webkit-progress-value { background:green; }


.sidebar a:hover{
	border: 1px;
	background-color: #00897b;
}
header,footer{
  
	background-color: #00695c ;
	margin-top: 0.25em;
}
body{
	background-color:grey;
}
.navbar{
	background-color:#00796b ;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.topics{
  margin-top: 0.25em;
}
.content {
	border:1px solid #000;
  margin-top: 0.25em;
	margin-left: 160px;
	background-color:#009688;
	position:auto;
}
.answerpanel{
  height: 500px;


}


.modal {
	display: none; 
	position: fixed;
	z-index: 1; /*lay over everything*/
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal_content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	.sidebar {
	width: 99%;
	height: 3em;
   	 position: relative;
    
	}
	.sidebar a {
		float: left;
	}

	.topics{
		margin-top: 3em;

	}
	div.content {
	margin-top: 1em;
    margin-left: 0;
    width: 100%;
	}

}


