.navbar{

background-color: antiquewhite;

}


.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: saddlebrown;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
 
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  header,.content,.navbar,.sidebar,footer{
    margin:0.25em;
    padding: 0.25em;
    

  }